.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: white;
  object-fit: contain;
  height: 70vh;
  /* border: 1px solid red; */
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  position: relative;
}

.banner__contents {
  position: absolute;
  top: 20vh;
  margin-left: 30px;
  margin-top: 10;
  height: 190px;
  max-width: 50%;
  /* border: 1px solid red; */
}

.banner__title {
  font-size: 6rem;
  /* border: 1px solid red; */
  margin-bottom: 5rem;
}

.banner__description {
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1.8rem;
  max-width: 80%;
  margin-bottom: 2.8rem;
  /* height: 80px; */
  /* border: 1px solid red; */
}
.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 5px;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  margin-right: 1rem;
  padding-top: 1rem;
  background-color: rgba(112, 111, 111, 0.5);
  padding-bottom: 1rem;
  z-index: 100;
}

.banner__button:first-child {
  color: #000;
  background-color: #e6e6e6;
}
.banner__button:first-child:hover {
  color: #000;
  background-color: #ffffff;
}
.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2;
}

.banner--fadebottom {
  position: absolute;
  bottom: 0;
  height: 20vh;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.banner__button i {
  margin-right: 10px;
}
