.nav {
  background-color: transparent;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 5.4rem;
  transition-timing-function: ease-in;
  transition: all 1s;
  top: 0;
  padding-bottom: 1.5 rem;
}

.navBackground {
  background-color: rgb(17, 17, 17, 0.9);
}

.container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 5.4rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.nav__logo {
  height: 50px;
  padding-left: 0.2%;
  color: #e21221;
  font-size: 4rem;
}

.nav__avatar {
  height: 50px;
}
