.row {
  margin-left: 20px;
  color: white;
}

.row_title {
  font-size: 2rem;
}

.row__posters {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 15rem;
  transition: transform 450ms;
  margin-right: 1rem;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 50rem;
  margin: 0 1.5rem;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}
